<div class="card-panel row">
  <div class="col s4">
    <img src="images/profile.jpg" alt="" class="center-align circle responsive-img">
  </div>
  <div class="col s8">
    <form method="post" name="user_details">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" ng-required="true" ng-model="user.firstname" type="text" class="validate">
          <label class="active" for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" ng-required="true" ng-model="user.lastname" type="text" class="validate">
          <label class="active" for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input disabled id="email" ng-required="true" ng-model="user.email" type="email" class="validate">
          <label class="active" for="email" data-error="Bad email" data-success="Good">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="password" ng-required="true" ng-model="user.password" type="password" class="validate">
          <label class="active" for="password">Password</label>
        </div>
      </div>
      <input type="submit" ng-click="save_details()" ng-hide="user_details.$pristine || user_details.$invalid" class="btn" value="Save" />
    </form>
  </div>
</div>

<div class="row">
  <div class="col s4">
    <div class="card green lighten-1">
      <div class="card-content white-text">
        <span class="card-title">Personal settings</span>
        <p>Click me to fix up your personal settings. Not sure what else to put here though. This should be enough.</p>
      </div>
      <div class="card-action">
        <a href="#">Link</a>
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="card green lighten-1">
      <div class="card-content white-text">
        <span class="card-title">My events</span>
        <p>Click me to see what you're planning on doing. Sometimes it is better not to repeat yourself.</p>
      </div>
      <div class="card-action">
        <a href="#">Link</a>
      </div>
  </div>
  </div>
    <div class="col s4">
    <div class="card green lighten-1">
      <div class="card-content white-text">
        <span class="card-title">Other things</span>
        <p>Click me to see other things ;). Can we start writing webapps in C? #goodidea.</p>
      </div>
      <div class="card-action">
        <a href="#">Link</a>
      </div>
    </div>
  </div>
</div>
