.img-circle{
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.heading-section{
	text-align: center;
	font-size: 300%;
	font-weight: bold;
	padding: 10px 20px 10px 20px;
}

p {
	text-align: center;
	padding: 10px 50px 10px 80px;
}
.paragraph1-section{
	font-size: 200%;
	padding: 10px 20px 10px 20px;
}

.paragraph2-section{
	text-align: center;
}

h2{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}