@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

h1{
   color:black;
   font-family: 'Shrikhand', cursive;
   text-align: center;
   font-size: 4em;
   color: #0ba568;
   text-shadow: 2px 2px #000000;
   padding-top: 50px;
   padding-bottom: 75px;
}

.navbar.navbar-default{
   background-color: #0ba568;
}
.dropdown-menu{
   background-color: #0ba568;
}

body{
   color: black;
   background-color: #d2efdb;
}

.navbar.navbar-default li a{
   color:white;
}

img {
   padding:1px;
   border:1px solid #021a40;
}

.summary{
   font-family: 'Poiret One', cursive;
   font-size: 2em;
   padding-left: 30px;
   float: left;
   margin: 0 1.5%;
   width: 50%;
}

.image{
   float: right;
   margin: 0 1.5%;
   width: 40%;
   padding-right: 30px;
}