/* app css stylesheet */

@font-face {
    font-family: 'Playball'; /*a name to be used later*/
    src: url('Playball.ttf'); /*URL to font*/
}
@font-face {
   font-family: 'Norwester';
   src: url('norwester.otf');
}

body {
  background-color: #e1f0d5;

}

h1 {
     font-family: 'Norwester', sans-serif;
}

h3,h5 {
   font-family: 'Archivo Narrow', sans-serif;
}

nav {
  background-color: #0ba568;
}

.page-footer{
   background-color: rgba(145, 157, 140, 0.56);
}

#sidenav-overlay {
  z-index: 996;
}

.fc-view-container {
  background-color: #c1d2b4;
}

.fc-unthemed .fc-today {
  background-color: #a4c2a0;
}

.brand-logo {
  font-family: 'Playball';
}

.caption {
  background: rgba(0, 0, 0, 0);
  width: auto !important;
  padding: 1em;
}

.center-image{
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.event-card{
   padding: 2em;
}
