<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Playball2+</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="libs/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="libs/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="libs/materialize/bin/materialize.css">
  <link rel="stylesheet" href="libs/fullcalendar/dist/fullcalendar.css"/>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow" rel="stylesheet">

  <!-- <script src="libs/material_design_icons/"></script> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="app.css">
</head>
<body ng-cloak>
  <div ng-controller="AppCtrl">
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper container">
          <a href="#!" class="brand-logo"><img height="50px;" src="images/logo.png" alt="Logo"></img> PlayBall2+</a>
          <a href="#!" data-activates="mobile-menu" class="button-collapse" id="mobile-menu-button"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#!/about"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="About Us">info_outline</i></a></li>
            <li><a href="#!/search"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Search">search</i></a></li>
            <li><a href="#!/calendar"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Calendar">dashboard</i></a></li>
            <li><button ng-hide="isLoggedIn" data-target="signup-modal" class="btn">Sign Up</button></li>
            <li><button ng-hide="isLoggedIn" data-target="login-modal" class="btn">Log in</button></li>
            <li><button ng-hide="!isLoggedIn" ng-click="logout()" class="btn">Logout</button></li>
            <li><a href="#!/profile" ng-hide="!isLoggedIn" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Profile">{{ currentUser.firstname }}</a></li>
          </ul>

          <ul class="side-nav" id="mobile-menu">
            <li><a href="#!/search">Search</a></li>
            <li><a href="#!/calendar">Calendar</a></li>
            <li><a href="#!/about">About Us</a></li>
            <li><a href="#!/profile" ng-hide="!isLoggedIn">Profile</a></li>
            <li><button ng-hide="isLoggedIn" data-target="signup-modal" class="btn">Sign Up!</button></li>
            <li><button ng-hide="isLoggedIn" data-target="login-modal" class="btn">Log in</button></li>
            <li><button ng-hide="!isLoggedIn" ng-click="logout()" class="btn">Logout</button></li>


          </ul>
        </div>
      </nav>
    </div>
    <div id="login-modal" class="modal">
      <div class="modal-content">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="login_email" ng-model="login_email" type="email" class="validate">
              <label for="login_email" data-error="wrong" data-success="right">Email</label>
            </div>
            <div class="input-field col s6">
              <input id="login_password" ng-model="login_password" type="password" class="validate">
              <label for="login_password">Password</label>
            </div>
          </div>
          <div class="row">
            <input class="waves-effect waves-light btn right" id="submit" type="submit" ng-click="login()" value="Login">
          </div>
        </form>
      </div>
    </div>
    <div id="signup-modal" class="modal">
      <div class="modal-content">
        <form name="signup_form" class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" ng-model="signup_firstname" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" ng-model="signup_lastname" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="email" ng-model="signup_email" type="email" class="validate">
              <label for="email" data-error="wrong" data-success="right">Email</label>
            </div>
            <div class="input-field col s6">
              <input id="password" ng-model="signup_password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <input class="waves-effect waves-light btn right" id="submit" type="submit" ng-click="signup()" value="Join Now">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-view></div>
  </div>


  <script src="libs/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="libs/jquery/dist/jquery.min.js"></script>
  <script src="libs/angular/angular.min.js"></script>
  <script src="libs/angular-resource/angular-resource.min.js"></script>
  <script src="libs/angular-route/angular-route.js"></script>
  <script src="libs/materialize/bin/materialize.js"></script>
  <script src="libs/moment/min/moment.min.js"></script>
  <script src="libs/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="libs/angular-ui-calendar/src/calendar.js"></script>

  <script src="app.js"></script>
  <script src="calendar/calendar.js"></script>
  <script src="about/about.js"></script>
  <script src="search/search.js"></script>
  <script src="home/home.js"></script>
  <script src="add_event/add_event.js"></script>
  <script src="profile/profile.js"></script>

</body>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="brand-logo">Playball 2+</h5>
        <p class="black-text">Add something here</p>
      </div>
      <div class="col l3 s12">
        <h5>Contact Us</h5>
        <p class="black-text">Add something here</p>
      </div>
      <div class="col l3 offset-l3 s12">
        <h5>We Can Link to our pages here</h5>
        <ul>
          <li><a class="black-text" href="#!/about">About</a></li>
          <li><a class="black-text" href="#!/search">Search</a></li>
          <li><a class="black-text" href="#!/calendar">Calendar</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text">
    © 2017 Playball2+
    </div>
  </div>
</footer>
</html>
